@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your custom styles here */

/* styles/globals.css */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  background: linear-gradient(to top, #766bbd, #ffffff);
  /* Replace #000000 and #ffffff with your desired colors */
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body-gradient{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 
  /* Replace #000000 and #ffffff with your desired colors */
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  text-align: center;
  background: #fff;
  border-radius: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}




.task-board {
  padding: 20px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 24%;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.big-button {
  background: rgb(49, 34, 139);
  background: linear-gradient(0deg, rgba(49, 34, 139, 1) 0%, rgba(95, 79, 191, 1) 100%);
  color: white;
  width: 100%;
  padding: 10px;
  
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.big-button-b{
  background: rgba(41, 39, 39, 0.671);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  color: white;
  width: 100%;
  padding: 10px;
  
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

